/* SelectSites.css */
.select-sites-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .select-site-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .select-site-item input {
    margin-right: 10px;
  }
  
  .action-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  